.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-top: 20px;
  }
  .calendar-day {
    padding: 15px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
   -webkit-user-select: none;
   user-select: none;
  }
  .calendar-day.available {
    background-color: #c8f7c5;
  }
  .calendar-day.unavailable {
    background-color: #eee;
    color: #aaa;
    pointer-events: none;
  }
  .calendar-day.selected {
    border: 2px solid #3f51b5;
    background-color: #a3d2ff;
  }
  .step {
    display: none;
  }
  .step.active {
    display: block;
  }
  #stepform {
  overflow: hidden;
  width: 100%;
  position: relative;
}
#stepform {
  position: relative;
  height: 100%; /* optional, set height if needed */
}
.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-top: 10px;
  margin-bottom: -10px;
  font-weight: bold;
  text-align: center;
  color: #149ec0;
  background: #f8fafc;
  border-radius: 6px;
}