.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-top: 20px;
  }
  .calendar-day {
    padding: 0.5rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
   -webkit-user-select: none;
   user-select: none;
  }
  .calendar-day.available {
    background-color: #c8f7c5;
  }
  .calendar-day.unavailable {
    background-color: #eee;
    color: #aaa;
    pointer-events: none;
  }
  .calendar-day.selected {
    border: 2px solid #3f51b5;
    background-color: #a3d2ff;
  }
  .step {
    display: none;
  }
  .step.active {
    display: block;
  }
.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-top: 10px;
  margin-bottom: -10px;
  font-weight: bold;
  text-align: center;
  color: #149ec0;
  background: #f8fafc;
  border-radius: 6px;
}
dialog form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 2.2rem 2rem 2rem 2rem;
}

dialog h2 {
    margin-bottom: 1rem;
    font-size: 1.35rem;
    color: #16a34a;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.5px;
}

dialog label {
    font-size: 1rem;
    color: #1f2937;
    margin-bottom: 0.2rem;
    font-weight: 500;
}

input{
  width: 100%;
  height: 45px;
  line-height: 30px;
  border: 2px solid #d1d5db;
  padding: 0 5rem;
  padding-left: 3rem;
  border-radius: 10px;
  outline: none;
  background-color: #f8fafc;
  color: #0d0c22;
  transition: .5s ease;
 
}

input::placeholder {
  color: #4B5563;
}

dialog input:focus {
    border-color: #16a34a;
    background: #fff;
}
@media (max-width: 500px) {
    dialog form {
        padding: 1.2rem 0.7rem 1.5rem 0.7rem;
    }
    dialog {
        max-width: 98vw;
    }
}
.step-description {
    font-size: 0.9rem;
    color: #4a4a4a;
    margin-bottom: 1rem;
}